# Normally redundant but we want Telescope to respect .gitignore so it won't
# include .git/ in the results.
.git/

### macOS ###
# General
.DS_Store

# Ignore Tmux Plugin Manager packages/artifacts that can be installed/uninstalled.
tmux/.tmux/plugins/
